.footer-title {
    color: #333;
    font-size: 1rem;
    font-weight: 600;
}

.footer-text {
    color: #888;
}

.footer-wrapper {
    margin-top: 40px;
}

.footer-contacts {
    border-right: #DFDFDF 1px solid;
    padding-right: 80px;
}

.footer-contacts-input {
    padding: 6px 12px 6px 14px;
    color: #aaa;
    outline: none;
}

.footer-contacts-button {
    background: #3E3E3E;
    color: #fff;
    padding: 8px 12px 8px 14px;
    border: none;
    margin-left: -5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.footer-contacts-button:hover {
    background: #787878;
}

.footer-contacts-list {
    max-width: 300px;
}

.footer-contacts-list-item--left {
    color: #333;
    font-weight: 700;
    display: inline-block;
    min-width: 70px;
}

.footer-contacts-list-item--right {
    color: #888;
    border: none;
}

.hover-orange {
    transition: .2s;
}

.hover-orange:hover {
    color: #FCA53C;
    cursor: pointer;
}

.footer-menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    max-width: 130px;
}

.footer-menu-title {
    text-transform: uppercase;
    font-weight: 600;
}

.footer-menu-item {
    color: #888;
    display: block;
    padding: 4px 0;
    transition: .2s;
}

.footer-menu-item:hover {
    color: #333;
}

.footer-menu-item--social {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu-item--social-img-wrapper {
    display: flex;
}

.footer-menu-item--social-img {
    width: 35px;
    height: 35px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    transition: .5s;
    margin: 0 5px 0 0;
}

.footer-menu-item--social-img:hover {
    background: #FCA53C;
    color: white;
}

.footer-copyright {
    color: #888;
    padding: 50px 0 20px 0;
    margin-top: 30px;
    border-top: #DFDFDF 1px solid;
}

@media screen and (max-width: 890px) {
    .footer-menu-wrapper {
        flex-wrap: wrap;
    }

    .footer-contacts {
        width: 100%;
        border: none;
        padding: 0;
    }
}

@media screen and (max-width: 580px) {
    .footer-menu-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-contacts-list {
        margin: auto;
        box-sizing: border-box;
        width: 80%;
        min-width: 250px;
    }

    .footer-contacts-list-item {
        text-align: left;
    }

    .footer-contacts-list-item--right {
        text-align: right;
        width: 68%;
        display: inline-block;
    }

    .footer-contacts-list-item--left {
        display: inline-block;
        width: 30%;
        min-width: auto;
    }

    .footer-menu-item {
        height: 0;
        opacity: 0;
        padding: 0;
    }

    .footer-menu:hover .footer-menu-item {
        height: 100%;
        opacity: 1;
        padding: 4px 0;
        transition: opacity .4s ease-in .2s;
    }

    .footer-contacts-input {
        width: 80%;
        margin: 0 auto 10px;
        text-align: center;
        border-top: none;
        border-left: none;
        border-right: none;
        min-width: 250px;
    }

    .footer-contacts-button {
        width: 50%;
        min-width: 250px;
    }
}
